@keyframes using-translate
{
    to {
        transform: translate(100px);
    }
}

@keyframes using-rotate
{
    to {
        transform: rotate(360deg);
    }
}

.box
{
    border: 1px solid pink;
}

.box .list li
{
    margin: 30px 0;
}

.box .list li span
{
    font-size: 20px;
    position: absolute;
    right: 50%;

    
}

.box .list li .dancer
{
    animation: using-translate 1s infinite alternate;
}

.box .list li .spinny
{
    animation: using-rotate 1s infinite alternate;
}

.box .list li .spinny.ease
{
    animation-timing-function: ease;
}

.box .list li .dancer.linear
{
    animation-timing-function: linear;
}

.box .list li .dancer.ease
{
    animation-timing-function: ease;
}

.box .list li .dancer.ease-in-out
{
    animation-timing-function: ease-in-out;
}

.box .list li .dancer.dancer.ease-in
{
    animation-timing-function: ease-in;
}

.box .list li .dancer.ease-out 
{
    animation-timing-function: ease-out;
}

.box .list li .dancer.cubic-bezier
{
    animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
}